div#saffron{
    background-color: rgb(240, 145, 56);
    height: 200px;
    border: 1px solid black;
}
div#white{
    background-color: white;
    height: 200px;
    border: 1px solid black;
}
div#green{
    background-color: green;
    height: 200px;
    border: 1px solid black;
}