div#saffron{
    background-color: rgb(240, 145, 56);
    width: 400px;
    height: 30px;
    border: 1px solid black;
}
div#white{
    background-color: white;
    width: 400px;
    height:30px;
    border: 1px solid black;
}
div#green{
    background-color: green;
    width:400px;
    height:30px;
    border: 1px solid black;
}