body div{
    background-color: rgb(240, 145, 56);
    height: 200px;
    border: 1px solid black;
}
body div+div{
    background-color: white;
    height:200px;
    border: 1px solid black;
}
body div+div+div{
    background-color: green;
    height:200px;
    border: 1px solid black;
}