body div{
    background-color: rgb(240, 145, 56);
    width: 400px;
    height: 30px;
    border: 1px solid black;
}
body div+div{
    background-color: white;
    width: 400px;
    height:30px;
    border: 1px solid black;
}
body div+div+div{
    background-color: green;
    width:400px;
    height:30px;
    border: 1px solid black;
}