body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(235, 247, 235);
}
#header{
    text-align: center;
    color: rgb(241, 243, 207);
    background-color: rgb(78, 37, 7);
    padding: 5px 5px 5px 5px;
}
#table_class{
    margin-left: 380px;
    border: 1px solid black;
}
#main{
    border: 1px solid black;
    background-color: rgb(222, 224, 223);
}
.days{
    color:white;
    background-color:rgb(13, 173, 27);
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
}
.time{
    color:white;
    background-color: rgb(13, 173, 27);
    border: 1px solid black;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}
.type{
    color:white;
    background-color: rgb(99, 14, 99);
    border: 1px solid black;
    padding: 0px 10px 0px 10px;
}
th{
    color:white;
    background-color: rgb(219, 45, 45);
    border: 1px solid black;
    padding: 2px 2px 2px 2px;
}
.list{
    width:680px;
    background-color: rgb(219, 45, 45);
    padding:4px 10px 4px 10px;
    color:white;
     
}

